<div class="container p-3">
    <div class="row">
        <div class="col-12">
            <h4>{{ esEditar == true ? 'Editar' : 'Crear' }} Inquilino</h4>
            <hr>
        </div>
    </div>

    <form #f="ngForm" class="row g-3 my-2" (ngSubmit)="save()">
        <div class="col-12 col-md-6">
            <label for="txtNombre" class="form-label">Nombre</label>
            <input type="text" [(ngModel)]="obj.nombre" required name="nombre" #emailM="ngModel" class="form-control"
                id="txtNombre">
            <!-- <span class="text-danger my-1" *ngIf="emailM.invalid && (emailM.dirty || emailM.touched)"> El email es obligatorio </span> -->
            <span class="text-danger my-1" *ngIf="emailM.errors?.['email'] && (emailM.dirty || emailM.touched)"> El
                nombre es obligatorio </span>
        </div>
        <div class="col-12 col-md-6">
            <label for="txtApellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" required [(ngModel)]="obj.apellido" name="clave" #claveM="ngModel"
                id="txtApellido">
            <!-- <span class="text-danger my-1" *ngIf="claveM.invalid && (claveM.dirty || claveM.touched)"> El apellido es obligatorio </span> -->
            <span class="text-danger my-1" *ngIf="claveM.errors?.['required'] && (claveM.dirty || claveM.touched)"> El
                Apellido es </span>
        </div>

        <div class="col-12" *ngIf="!esEditar">
            <label for="txtApellido" class="form-label">Casa</label>

            <select class="form-select" required name="idUsuario" [(ngModel)]="obj.idCasa">
                <option *ngFor="let casa of casas" [ngValue]="casa._id">{{ casa.codigo }} - {{ casa.direccion }}
                </option>
            </select>
        </div>

        <div class="col-12" *ngIf="!esEditar">
            <label for="txtApellido" class="form-label">Usuario</label>

            <select class="form-select" required name="idUsuario" [(ngModel)]="obj.idUsuario">
                <option *ngFor="let usuario of usuarios" [ngValue]="usuario._id">{{ usuario.email }}</option>
              </select>
        </div>

        <div class="col-12 d-flex justify-content-end">

            <div class="btn-group">
                <button type="submit" [disabled]="f.invalid" class="btn btn-primary">{{ esEditar == true ? 'Editar' :
                    'Crear' }}</button>
                <a (click)="close()" class="btn btn-secondary">Cancelar</a>
            </div>

        </div>
    </form>

</div>